# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dictionaries/20961.xml
/encodings.xml
/sqldialects.xml
/inspectionProfiles/Project_Default.xml
